@model Medic.Models.Organization

@{
    ViewBag.Title = "Добавление организации";
}

<h2>Добавление организации</h2>
@using (Html.BeginForm("OrganizationAdd", "Home", FormMethod.Post))
{
    @Html.LabelFor(m=>m.Name,"Введите название")
    @Html.TextBoxFor(m=>m.Name)
    <br />
    @Html.LabelFor(m=>m.TerritoryId, "Выберите область")
    @Html.DropDownList("TerritoryId", ViewBag.List as SelectList)

    <input type="submit" value="Добавить"/>
}

